
body {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin: auto;
  background-color: rgb(244, 255, 255);
}

#web_content{
  position: relative;
  min-height: 95vh;
  /* margin-bottom: auto; */
}

/* footer */
footer{
  text-align: center;
  margin-top: 1vh;
  height: 4vh;
  position: relative;
  font-family: 'Courier New', Courier, monospace;
}

.flex_container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* border: darkgoldenrod 2px solid; */
}
.flex_container_col{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.wrapper{
  display: flex;
  position: relative;
  border-radius: 24px;
  padding: 5px 10px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

/* Start of Header css */
#header{
  background-color: rgb(159, 191, 252);
  z-index: -1;
  /* border: black 3px solid; */
}

#login_wrapper{
  font-size: x-large;
  margin-right: 1vw;
  color: black;
}

#login_wrapper:hover{
  color: rgb(107, 100, 76);
  text-decoration: underline;
}
#refresh_icon_wrapper{
  margin-left: 1vw;
}

#refresh_icon{
  width: 50px;
  filter: invert(70%) sepia(76%) saturate(309%) hue-rotate(313deg) brightness(50%) contrast(63%);
}

.flex_container div.wrapper:hover{
  cursor: pointer;
  box-shadow: 0 0 5px 2px wheat;
  background-image:radial-gradient(circle, rgb(153, 218, 255),cornflowerblue);
  transition:0.6s;
}
/* End of Header css */

/* Start of Search component css */
#search_bar{
  margin-top: 4vh;
  height: 35px;
  margin-bottom: 10px;
}

#search_textbox{
  width: 40vw;
  max-width: 800px;
  font-size: large;
  margin-right: 5px;
  border: None;
  background-color: rgb(235, 238, 238);
  border-radius: 5px;
}

#search_textbox:focus{
  border: cornflowerblue 2px solid;
  outline: none;
}
#search_btn{
  width: 40px;
  border-radius: 10px;
  outline: None;
  border: None;
  transition: 0.5s;
}
#search_btn:hover{
  background-color: rgb(204, 248, 250);
  cursor: pointer;
}
/* End of Search component css */

/* start of movie display section*/
#movie_section{
  margin: 3vh, 3vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.movie_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 450px;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.2s;
}

.movie_container:hover {
  background-color: rgb(216, 216, 216);
}

.movie_title{
  word-wrap: normal;
}
.movie_poster{
  width: 200px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.movie_poster>img{
  width: 200px;
  height: auto;
}
.movie_year{
  margin-top: auto;
  margin-bottom: 5px;
}
/* end of movie display section */

/* start of page navigator section */
.nav_btn{
  background-color: rgb(206, 206, 206);
  margin: 1vh 3px;
  width: fit-content;
  padding: 0 12px;
  height: 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}
.nav_btn:hover{
  background-color: rgb(161, 165, 165);
}
.page_active {
  background-color: rgb(207, 226, 226);
  text-decoration: underline;

}
/* end of page navigator section */

/* start of movie detail display css */
#movie_display_container{
  align-items: center;
}

#movie_display_details{
  flex-wrap: wrap;
  font-size: larger;
}
dl > dt{
  flex-basis: 20vw;
  font-weight: bold;
  text-align: right;
  margin-top: 20px;
}
dl>dd{
  /* border-bottom: 1px black solid; */
  margin-top: 20px;
  flex-basis: 70vw;
  text-align: left;
}
/* end of movie detail display css */