html{
  position: relative;
  min-height: 100vh;
}

body {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  padding-bottom: 20px;
  background-color: rgb(244, 255, 255);
}

footer{
  position: absolute;
  text-align: center;
  width: 100%;
  height: 50px;
  bottom: 0;
  font-family: 'Courier New', Courier, monospace;
}

.full_body_background{
  position: absolute;
  object-fit: cover;
  object-position: 0 17%;
  top:60px;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 600px;
  height: calc(100vh - 60px);
  background-image: url(https://thumbnails.moviemania.io/phone/movie/129/54091e/670x1192.jpg);
  z-index: -1;
  opacity: 0.7;
}

/* direction in row */
.flex_container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* border: darkgoldenrod 2px solid; */
}
.flex_container_col{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.wrapper{
  display: flex;
  position: relative;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.clean_btn{
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
}

/* Start of Header css */
#header{
  background-color: rgb(159, 191, 252);
  z-index: 50;
  height: 60px;
  width: 100%;
  /* border: black 3px solid; */
}

#web_title{
  position: absolute;
  margin: 5px auto;
  padding: 10; 
}

#login_wrapper{
  font-size: x-large;
  margin-right: 1vw;
  color: black;
}
#user_page_redirect_wrapper{
  font-size: large;
  margin-right: 1vw;
}

#login_wrapper:hover{
  text-decoration: underline;
}
#refresh_icon_wrapper{
  margin-left: 1vw;
}

#refresh_icon{
  width: 50px;
  /* color: black; */
  filter: invert(70%) sepia(76%) saturate(309%) hue-rotate(313deg) brightness(50%) contrast(63%);
}

.flex_container div.wrapper:hover{
  cursor: pointer;
  box-shadow: 0 0 5px 2px wheat;
  background-image:radial-gradient(circle, rgb(153, 218, 255),cornflowerblue);
  transition:0.6s;
}
/* End of Header css */

/* Start of Search component css */
#search_bar{
  margin-top: 4vh;
  height: 35px;
  margin-bottom: 10px;
}

#search_textbox{
  width: 40vw;
  max-width: 800px;
  font-size: large;
  margin-right: 5px;
  border: None;
  background-color: rgb(235, 238, 238);
  border-radius: 5px;
}

#search_textbox:focus{
  border: cornflowerblue 2px solid;
  outline: none;
  background-color: rgb(218, 218, 218);
}
#search_btn{
  width: 40px;
  border-radius: 10px;
}
#search_btn:hover{
  background-color: rgb(204, 248, 250);
}
/* End of Search component css */

/* start of movie display section*/
#movie_section{
  margin: 3vh, 3vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.movie_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 450px;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.2s;
}

.movie_container:hover {
  background-color: rgb(216, 216, 216);
}

.movie_title{
  word-wrap: normal;
}
.movie_poster{
  width: 200px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.movie_poster>img{
  width: 200px;
  height: auto;
}
.movie_year{
  margin-top: auto;
  margin-bottom: 5px;
}
/* end of movie display section */

/* start of page navigator section */
#nav_btn{
  background-color: rgb(206, 206, 206);
  margin: 1vh 3px;
  width: fit-content;
  padding: 0 12px;
  height: 30px;
  border-radius: 4px;
}
#nav_btn:hover{
  background-color: rgb(161, 165, 165);
}
.page_active {
  background-color: rgb(207, 226, 226);
  text-decoration: underline;
}
/* end of page navigator section */

/* start of movie detail display css */
#add_like_btn{

  font-size: larger;
  border-radius: 5px;
} 
#add_like_btn:hover{
  background-color: rgba(240, 79, 4, 0.3);
}

#add_like_btn_wrapper{
  margin-left: 50px;
}

#movie_display_container{
  align-items: center;
}

#movie_display_details{
  flex-wrap: wrap;
  font-size: larger;
}
dl > dt{
  flex-basis: 20vw;
  font-weight: bold;
  text-align: right;
  margin-top: 20px;
}
dl>dd{
  /* border-bottom: 1px black solid; */
  margin-top: 20px;
  flex-basis: 70vw;
  text-align: left;
}
/* end of movie detail display css */

/* start of login page css */
.glass_blur_box{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  margin: 10vh auto;
  padding: 20px;
  width: 400px;
  height: 320px;
  
  border-radius: 10px;
  background-color: rgb(36, 35, 35, 0.1);
  backdrop-filter: blur(4px);
}

#login_form{
  width: 300px;
  
}

.flex_container_col > input{
  outline: none;
  border: none;
  border-radius: 10px;
  margin-bottom: 18px;
  font-size: larger;
  height: 38px;
  background-color:rgba(214, 214, 214, 0.7);
  color: rgb(75, 52, 42);
  transition: 0.3s;
}

.effect_on_focus:focus{
  background-color: rgba(112, 142, 148, 0.7);
}

.effect_on_focus:focus::placeholder{
  color: rgb(230, 230, 230);
}

.submit_btn{
  margin-top: 20px;
  cursor: pointer;
}

.submit_btn:hover{
  background-color: rgba(204, 18, 18, 0.5);
}

.warm_font{
  color:rgba(255, 87, 87, 0.8);
}

/* end of login page css */

/* for signup page */
#signup_container{
  height: 350px;
}

.warning{
  color: crimson;
}
/* end of signup page */

/* start of userpage  */
#user_page_header{
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  /* border: black solid thin; */
}
#user_page_header > h3{
  position: relative;
  left: 5vw;
  margin-right: auto;
  font-size: larger;
}

#logout_btn{
  font-size: larger;
  margin: auto;
  background-color: rgb(0, 80, 145,0.3);
  border-radius: 10px;
  top: 0;
  margin-right: 0;
  padding: 5px 5px
}

#logout_btn:hover{
  background-color: rgb(172, 30, 59,0.5);
}


.underline_effect:hover{
  text-decoration: underline;
}

.dark_font{
  color: rgb(36, 51, 78);
}

.small_img{
  height: 100px;
}

.row_narrow_wrapper{
  margin: 10px 2vw;
  padding: 10px;
  background-color: rgb(203, 229, 236);
  border-radius: 15px;
  width: 65vw;
  min-width: 400px;
}

.small_movie_display{
  flex-basis: 70%;
  border-radius: 20px;
  align-items: center;
  cursor: pointer;
}
.small_movie_display:hover{
  background-color: rgb(235, 235, 235);
}

.small_movie_display > *{
  margin-right: auto;
  font-size: larger;
}

.rmv_btn_wrapper{
  padding-top: 30px;
  flex-basis: 20%;
  margin: auto;
  right: 2vw;
  position: relative;

}
.rmv_btn_wrapper>button{
  margin: auto;
  background-color: transparent;
  font-size: larger;
  text-decoration: underline;
}
.rmv_btn_wrapper>button:hover{
  color: brown;
}


/* end of userpage */